문제1 ---------------------------------------------------

In [38]:
a = 'abcdef'
a[-5:]

'bcdef'

In [59]:
numbers = '010-99946-23446'

In [60]:
def CoverPhoneNumber(phonenumber):
    return phonenumber.replace(phonenumber[-5:],'#####')
    

CoverPhoneNumber(numbers)

'010-99946-#####'

문제2 ---------------------------------------------------

In [48]:
group = [1,2,3,4,5]

for i in group:
  print(i)

1
2
3
4
5

In [56]:
overlap = [10, 11, [1, 2], 3, [[4, 5, [3,4,224,444,556], 6], 7], 8, 9]

answer = []
def untie(Overlapping):
  for i in Overlapping:
    if type(i) == list:
      untie(i)
    else:      
      answer.append(i)
  return answer


untie(overlap)

[10, 11, 1, 2, 3, 4, 5, 3, 4, 224, 444, 556, 6, 7, 8, 9]

In [28]:
a = 0

In [29]:
type(a)

int

#강의 시청 후 코드 수정

In [57]:
overlap = [10, 11, [1, 2], 3, [[4, 5, [3,4,224,444,556], 6], 7], 8, 9]

def untie(Overlapping):
  answer = []
  for i in Overlapping:
    if type(i) == list:
      answer = answer + untie(i)
    else:      
      answer.append(i)
  return answer

untie(overlap)

[10, 11, 1, 2, 3, 4, 5, 3, 4, 224, 444, 556, 6, 7, 8, 9]

문제3 ---------------------------------------------------  

10 이하 숫자만 곱해주는 함수

In [ ]:
#만들 함수는 input 값이 둘다 정수라면 두 정수를 나눴을 때의 값을 구해주고,
# 입력된 값이 정수가 아니라면 '정수만 계산 가능합니다'라고 출력하고 결과값은 None으로 출력하는 함수입니다.

In [107]:
a=2
b=2

if a%1==0 and b%1==0:
  answer = a/b
  print(answer)
else:
  print('정수만 계산 가능합니다')

1.0

In [106]:
def multiply_under10():
  if a%1==0 and b%1==0:
    answer = a/b
    return(answer)
  else:
    print('정수만 계산 가능합니다')
    return(None)

In [74]:
a=1
b=2.2

multiply_under10()

정수만 계산 가능합니다

In [99]:
def multiply_under10(*nums):
  answer = 1
  if nums%1==0 and nums <= 10:
    answer = answer*nums
    return(answer)
  else:
    print('10이하 정수만 계산 가능합니다')
    return(None)

a=1,2,3,4,5
multiply_under10(*a)

TypeError: unsupported operand type(s) for %: 'tuple' and 'int'

In [103]:
def mul_under10(*args):
  answer = 1
  for i in args:
    answer *= i
  return answer

mul_under10(1,2,3.4)

6.8

In [114]:
def mul_under10(*args):
  answer = 1
  for i in args:
    if i%1==0 and i<=10:
      answer *= i
    elif i>10:
      pass
    else:
      print('정수만 입력해주세요.')
      return(None)
  return answer

mul_under10(1,2,3,11,42,-2)

-12